{
  "parentIdentifier": "{{ filtered_parent }}",
  "name": "{{ item.name }}",
  "protocol": "vnc",
  "parameters": {
    "port": "{{ item.vnc_port | default('5900') }}",
    "read-only": "{{ item.readonly | default(true) }}",
    "swap-red-blue": "",
    "cursor": "",
    "color-depth": "",
    "clipboard-encoding": "",
    "disable-copy": "",
    "disable-paste": "",
    "dest-port": "",
    "recording-exclude-output": "",
    "recording-exclude-mouse": "",
    "recording-include-keys": "",
    "create-recording-path": "",
    "enable-sftp": "{{ item.sftp_enable | default('false') | lower }}",
    "sftp-port": "{{ item.ssh_port | default('22') }}",
    "sftp-server-alive-interval": "",
    "enable-audio": "",
    "audio-servername": "",
    "sftp-directory": "",
    "sftp-root-directory": "",
    "sftp-passphrase": "",
    "sftp-private-key": "",
    "sftp-username": "root",
    "sftp-password": "atechatech",
    "sftp-host-key": "",
    "sftp-hostname": "{{ item.ip_address | default('127.0.0.1') }}",
    "recording-name": "",
    "recording-path": "",
    "dest-host": "",
    "password": "atechatech",
    "username": "root",
    "hostname": "{{ item.ip_address | default('127.0.0.1') }}"
  },
  "attributes": {
    "max-connections": "",
    "max-connections-per-user": "",
    "weight": "",
    "failover-only": "",
    "guacd-port": "",
    "guacd-encryption": "",
    "guacd-hostname": ""
  }
}
